BANK_AUTH_VALIDATION_KEY=-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4bcuRQbgQ8ZcUek43hkTM8xI7\nFR0vuk47lgc/spV39sfkdPdE0Y4pjyEu2vUFAJexcrkwpooc8Eqp9ijwKz7U7PMJ\nJlwM/dhCnVQ5hoHOFQTsXYBeuL7JsX2ggtDiV/98nLSkNXwR19opv5BFIDUkzZMJ\nXn7+LYp6VRcFi8IrQwIDAQAB\n-----END PUBLIC KEY-----

BANK_AUTH_PREVIOUS_VALIDATION_KEY=-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4bcuRQbgQ8ZcUek43hkTM8xI7\nFR0vuk47lgc/spV39sfkdPdE0Y4pjyEu2vUFAJexcrkwpooc8Eqp9ijwKz7U7PMJ\nJlwM/dhCnVQ5hoHOFQTsXYBeuL7JsX2ggtDiV/98nLSkNXwR19opv5BFIDUkzZMJ\nXn7+LYp6VRcFi8IrQwIDAQAB\n-----END PUBLIC KEY-----
