BANK_AUTH_METADATA_KEY=auth-token

BANK_AUTH_VALIDATION_KEY="-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4bcuRQbgQ8ZcUek43hkTM8xI7
FR0vuk47lgc/spV39sfkdPdE0Y4pjyEu2vUFAJexcrkwpooc8Eqp9ijwKz7U7PMJ
JlwM/dhCnVQ5hoHOFQTsXYBeuL7JsX2ggtDiV/98nLSkNXwR19opv5BFIDUkzZMJ
Xn7+LYp6VRcFi8IrQwIDAQAB
-----END PUBLIC KEY-----"

BANK_AUTH_PREVIOUS_VALIDATION_KEY="-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCa8qzmi56vV60ItDQWb6qQh4jI
fbNowxvmwZmQeMfRIcUT8EOUFH629Cb8hc0A+uTk3qc/IOXyaDuKVpdOHbVoxPzT
OXLvMm/GoeElgXwJeLnl4khimNa6gLoTGz4ePjQZF5myoU2S5k2KiNooYPWeSAhC
BffxrNcCHkTfaUYnywIDAQAB
-----END PUBLIC KEY-----"
