USER_AUTH_SIGNING_KEY=-----BEGIN PRIVATE KEY-----\nMIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALhty5FBuBDxlxR6\nTjeGRMzzEjsVHS+6TjuWBz+ylXf2x+R090TRjimPIS7a9QUAl7FyuTCmihzwSqn2\nKPArPtTs8wkmXAz92EKdVDmGgc4VBOxdgF64vsmxfaCC0OJX/3yctKQ1fBHX2im/\nkEUgNSTNkwlefv4tinpVFwWLwitDAgMBAAECgYEAhopKI7gej/W98gla//RqQlzc\nIs+/T+8IXT2QIi6kDTSxE/8j10dL/xNT8Lt4XOLWxnNbl5sWTBAbV6ukp7fUiAEg\nQ1k4moG/4EVzUgQyB4cZtT6y06PI9A2YV3AwBf0YldEaaqfQdSG24kcOMKt75+cL\njuIgW6WQ2qUkqDbQCTECQQDZ/gOVbqQIuT1GH8Ed2q0+Aj3Y2WoQ9MdZqKiy7rm6\nBsEF2aExWkprb1PSMr4wl68DVVVhvBR2/465pY1Bjor5AkEA2JWyJiEcSbIXX5Iz\naVflq6A8G9cN+scJxxrFW5gf3JHT6AfWNm7OSCk1j7iL9ztNWL84tCwuWAkynBhK\nsqtbGwJAehwfF8rVWgmhuDE7dSS0nKKW0GzhTERBkwi2Dx1IrlrwLv28nK+uNkYz\nVvCTtxaQs7ZOUKQRdqMq6PVCjjFxyQJBAKapstfyfLEdES1i9Jron3yNJhQKTeCf\nTx/esuYDzujNcrJHbYifha8zvtqkmVgbUy6qnzjOEq9+DGrfqoOIpucCQA1IDb+O\nDKGoShF3EleSLXUmGNC1c0XcwdV9wq1d/wLX2peM3E6zd7KIAUJ1I3AiqBG5YxMq\n5AyVBm4W1keTDDY=\n-----END PRIVATE KEY-----

USER_AUTH_VALIDATION_KEY=-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4bcuRQbgQ8ZcUek43hkTM8xI7\nFR0vuk47lgc/spV39sfkdPdE0Y4pjyEu2vUFAJexcrkwpooc8Eqp9ijwKz7U7PMJ\nJlwM/dhCnVQ5hoHOFQTsXYBeuL7JsX2ggtDiV/98nLSkNXwR19opv5BFIDUkzZMJ\nXn7+LYp6VRcFi8IrQwIDAQAB\n-----END PUBLIC KEY-----

USER_AUTH_PREVIOUS_VALIDATION_KEY=-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4bcuRQbgQ8ZcUek43hkTM8xI7\nFR0vuk47lgc/spV39sfkdPdE0Y4pjyEu2vUFAJexcrkwpooc8Eqp9ijwKz7U7PMJ\nJlwM/dhCnVQ5hoHOFQTsXYBeuL7JsX2ggtDiV/98nLSkNXwR19opv5BFIDUkzZMJ\nXn7+LYp6VRcFi8IrQwIDAQAB\n-----END PUBLIC KEY-----
