HTTP_PORT=5000

USER_AUTH_COOKIE_NAME=auth-token
USER_AUTH_MINUTES_UNTIL_EXPIRATION=30

PIX_API_HOST=api.codepix-bank-api.svc.cluster.local
PIX_API_PORT=4000
PIX_API_TOKEN_ENDPOINT=http://api.codepix-customer-api.svc.cluster.local:3000/api/bank-auth
