BANK_API_PORT=4000

DB_HOST=localhost
DB_PORT=4001
DB_NAME=codepix
DB_USER=codepix
DB_PASSWORD=codepix
DB_SSLMODE=disable

ES_NAME=codepix
ES_USER=codepix
ES_PASSWORD=codepix
ES_ROOT_USER=root
ES_ROOT_PASSWORD=codepix
ES_REPLICA_SET_NAME=eventstore
ES_REPLICA_SET_KEY=codepix

ES_PRIMARY_HOST=eventstore
ES_PRIMARY_PORT=4002
ES_SECONDARY_HOST=eventstore-secondary
ES_SECONDARY_PORT=4003
ES_ARBITER_HOST=eventstore-arbiter
ES_ARBITER_PORT=4004